header {
  padding-left: 2%;
  padding-bottom: 2%;

  margin: 0px;
  width: 100%;
  background-image: linear-gradient(white, rgba(106, 181, 27, 20%));
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, rgba(0, 143, 104, 60%), black) 1;
}
.listContainer {
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  /* flex-wrap: no-wrap; */
  /* width: 100%; */
  margin: 0 auto;
}
h2 {
  margin: 0.5%;
}
article {
  width: 120%;
  height: 100%;
  border: 1px solid black;
  margin: 5px;
  background: rgb(247, 248, 251);
}
button,
.formSubmit {
  color: white;
  box-shadow: 1px 1px 2px black;
  margin: 1%;
  text-decoration: none;
  /* border: none; */
  background: darkgreen;
}
.formContainer {
  padding-top: 1%;
  padding-left: 2%;
  height: 100%;
  background: rgb(247, 248, 251);
}
form .inputField {
  margin: 0.5%;
  box-shadow: 1px 1px 2px black;
}
.backButton {
  margin-left: 0.5%;
}
ul {
  padding-left: 1%;
  margin: 0 1%;
  width: 100%;
}
li {
  padding: 2% 0;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
}
span.itemSpan {
  width: 40%;
}
